<footer>
      <div class="social-profiles">
        <a href="https://www.facebook.com/onlinestringtuner" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/stringtune4299" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
     <div>
       <div class="language-selection btn">
	    <select onchange="changeLanguage(this.value)">
	      <option value="en">English</option>
	      <option value="es">Español</option>
	      <option value="fr">Français</option>
	      <option value="de">Deutsch</option>
	      <option value="it">Italiano</option>
	      <option value="zh">中文</option>
	      <option value="ja">日本語</option>
	      <option value="ko">한국어</option>
	      <option value="ua">Українська</option>
	      <option value="pl">Polski</option>
	      <!-- Add other languages here -->
	    </select>
     </div>
      <a href="privacy-policy.html" target="_blank" class="btn">Privacy Policy</a>
     </div>
         <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJQ4QQXGDS"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-ZJQ4QQXGDS');
	</script>
</footer>
