<!--
    This partial is used by both single.html and single.amp.html.
    It reads the scratch output-format variable to determine if it's being called from an AMP page
    if so it renders AMP compatible images
-->

{{ $home := $.Site.BaseURL }}
{{ $twitter_url := .Site.Params.social.twitter_url }}
{{ $facebook_url := .Site.Params.social.facebook_url }}

<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <h2 class="title is-5"><a href="{{ $home }}">Stringtune</a></h2>
                <div class="buttons vk-amp-buttons is-centered">
                    {{ if eq ($.Scratch.Get "output-format") "amp" }}
                    <a class="button vk-amp-button" href="{{ $twitter_url }}">
                        <amp-img src="/images/icons/twitter.svg" width="20" height="20" alt="Twitter logo"></amp-img>
                    </a>
                    <a class="button vk-amp-button" href="{{ $facebook_url }}">
                        <amp-img src="/images/icons/facebook-f.svg" width="20" height="20" alt="Facebook logo"></amp-img>
                    </a>
                    {{ else }}
                    <a class="button" href="{{ $twitter_url }}">
                        <img src="/images/icons/twitter.svg" width="20" height="20" alt="Twitter logo" />
                    </a>
                    <a class="button" href="{{ $facebook_url }}">
                        <img src="/images/icons/facebook-f.svg" width="20" height="20" alt="Facebook logo" />
                    </a>
                    {{ end }}
                </div>
            </div>
	<div class="column">
	<!--
	    <h3 class="title is-6">Tools</h3>
	    <ul>
		{{ range .Site.Menus.product }}
		{{ if eq .Page.Lang $.Lang }}
		    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
		{{ end }}
		{{ end }}
	    </ul>
	-->
	</div>
	<div class="column">
	    <h3 class="title is-6">About us</h3>
	    <ul>
		{{ range .Site.Menus.company }}
		{{ if eq .Page.Lang $.Lang }}
		    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
		{{ end }}
		{{ end }}
	    </ul>
	</div>
	</div>
        <div class="container">
        <div class="columns">
        <div class="column">
    	<div class="language-selection">
	<a href="/en/" class="btn">English</a>
	<a href="/es/" class="btn">Español</a>
	<a href="/fr/" class="btn">Français</a>
	<a href="/de/" class="btn">Deutsch</a>
	<a href="/zh/" class="btn">中文</a>
	<a href="/it/" class="btn">Italiano</a>
	<a href="/pt/" class="btn">Português</a>
	<a href="/ja/" class="btn">日本語</a>
	<a href="/ar/" class="btn">العربية</a>
	<a href="/pl/" class="btn">Polski</a>
	<a href="/uk/" class="btn">Українська</a>
	<a href="/nl/" class="btn">Nederlands</a>
	<a href="/ko/" class="btn">한국어</a>
	<a href="/tr/" class="btn">Türkçe</a>
	<a href="/el/" class="btn">Ελληνικά</a>
	<a href="/sv/" class="btn">Svenska</a>
	<a href="/no/" class="btn">Norsk</a>
	<a href="/da/" class="btn">Dansk</a>
	<a href="/fi/" class="btn">Suomi</a>
	</div>
	</div>
	</div>
    	</div>
        
        <div class="columns">
            <div class="column">
                {{ range .Site.Menus.legal }}
                    <a class="mr-5" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            </div>
          <div class="column has-text-right-tablet">
                <p class="subtitle is-6">{{ partial "copyright" . }}</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJQ4QQXGDS"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-ZJQ4QQXGDS');
	</script>
</footer>
