<!DOCTYPE html>
    <div class="tuner">
	    <div class="meter">
	      <div id="tunedArea" class="meter-scale-tuned"></div>
	      <div class="meter-dot"></div>
	      <div class="meter-pointer"></div>
	    </div>
	    <canvas class="frequency-lines"></canvas>
	    <div class="notes">
	      <div class="notes-list"></div>
	      <div class="frequency">
		<span>Hz</span>
	      </div>
	    </div>
	    <div class="a4">A<sub>4</sub> = <span>440</span> Hz</div>
	    <label class="screen">
	      {{ i18n "keepScreenOn" }}
	      <input type="checkbox" id="screenLock" />
	    </label>
	    <label class="auto">
	      {{ i18n "auto" }}
	      <input type="checkbox" checked />
	    </label>
    </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/aubiojs@0.1.1/build/aubio.min.js"></script>
<script src="{{ .Site.BaseURL }}js/tuner/screenlock.js"></script>
<script src="{{ .Site.BaseURL }}js/tuner/tuner.js"></script>
<script src="{{ .Site.BaseURL }}js/tuner/meter.js"></script>
<script src="{{ .Site.BaseURL }}js/tuner/frequency-line.js"></script>   
<script src="{{ .Site.BaseURL }}js/tuner/notes.js"></script>   
<script src="{{ .Site.BaseURL }}js/tuner/application.js"></script>
