body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin: 0;
}

.pitch {
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
}

.pitch-name {
  font-size: 90px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-right: 30px;
  padding-left: 10px;
}

.pitch-name span {
  position: absolute;
  font-size: 40%;
  font-weight: normal;
}

.pitch-sharp {
  top: 0;
  right: 0;
}

.pitch-numbered {
  bottom: 0.25em;
  right: 0.25em;
}

.pitch-frequency {
  font-size: 32px;
}

.pitch-frequency span {
  font-size: 50%;
  margin-left: 0.25em;
}

.meter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  width: 400px;
  height: 33%;
  margin: 0 auto 5vh auto;
}

.meter-pointer {
  width: 2px;
  height: 100%;
  background: #2c3e50;
  transform: rotate(45deg);
  transform-origin: bottom;
  transition: transform 0.5s;
  position: absolute;
  right: 50%;
}

.meter-dot {
  width: 10px;
  height: 10px;
  background: #2c3e50;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: 50%;
  margin-right: -4px;
}

.meter-scale {
  width: 1px;
  height: 100%;
  transform-origin: bottom;
  transition: transform 0.5s;
  box-sizing: border-box;
  border-top: 10px solid;
  position: absolute;
  right: 50%;
}

.meter-scale-strong {
  width: 2px;
  border-top-width: 20px;
}

.frequency-bars {
  width: 400px;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -200px;
  z-index: -1;
  overflow: hidden;
}

.frequency-bar {
  display: inline-block;
  background: #ecf0f1;
  transition: height 0.5s;
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  .meter {
    width: 100%;
  }

  .frequency-bars {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
}
