{{ define "main" }}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-full has-text-centered">
                        {{ partial "tuner.html" . }}
                        <div class="about" >
                        {{ i18n "Intro" | markdownify }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}

