// Override Bulma's variables here
$note-light: #B0BEC5;
$note-light-accent: #F48FB1; 
$note-dark: #673AB7;
$material-red: #F44336; // Material Red
$material-amber: #FFC107; // Material Amber
$material-green: #4CAF50; // Material Green
$material-light-blue: #03A9F4; // Material Light Blue

// Override Bulma's variables
$white: $note-light;
$black: $note-dark;
$text: $note-light;
$title-color: $note-light-accent;

$body-background-color: $note-light;
$body-foreground-color: $note-dark;

$primary: $note-dark;
$link: $note-light;
$danger: $material-red; // Material Red
$warning: $material-amber; // Material Amber
$success: $material-green; // Material Green
$info: $material-light-blue; // Material Light Blue
$footer-color: $note-dark;

// Inverted colors
$primary-invert: findColorInvert($primary);
$link-invert: findColorInvert($link);
$danger-invert: findColorInvert($danger);
$warning-invert: findColorInvert($warning);
$success-invert: findColorInvert($success);
$info-invert: findColorInvert($info);
$dark-invert: findColorInvert($dark);
$light-invert: findColorInvert($light);
$white-invert: findColorInvert($white);
$black-invert: findColorInvert($black);

// Light and Dark variations
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$link-light: findLightColor($link);
$link-dark: findDarkColor($link);
$link-hover: findLightColor($link);

// Buttons
//$button-color: $meat-dark;
//$button-background-color: $meat-light;
//$button-border-color: $meat-dark;
//$button-hover-color: $meat-dark;
//$button-hover-background-color: $meat-light;
//$button-hover-border-color: $meat-dark;
//$button-active-color: $meat-dark;
//$button-active-background-color: $meat-light;
//$button-active-border-color: $meat-dark;
//$button-focus-color: $meat-dark;
//$button-focus-background-color: $meat-light;
//$button-focus-border-color: $meat-dark;
//$button-focus-box-shadow-color: rgba($meat-dark, 0.25);

$navbar-item-img-max-height: 2.2rem;

$colors: mergeColorMaps(("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert, $primary-light, $primary-dark), "link": ($link, $link-invert, $link-light, $link-dark), "info": ($info, $info-invert, $info-light, $info-dark), "success": ($success, $success-invert, $success-light, $success-dark), "warning": ($warning, $warning-invert, $warning-light, $warning-dark), "danger": ($danger, $danger-invert, $danger-light, $danger-dark)), $custom-colors);
$shades: mergeColorMaps(("black-bis": $black-bis, "black-ter": $black-ter, "grey-darker": $grey-darker, "grey-dark": $grey-dark, "grey": $grey, "grey-light": $grey-light, "grey-lighter": $grey-lighter, "white-ter": $white-ter, "white-bis": $white-bis), $custom-shades);
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7;
