/** Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END Reset CSS */

$body-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$gap: 1.5rem;

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: $body-family;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  margin-left: 3rem;
  li {
    list-style-type: disc;
  }
}

h2 {
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: black;
}

.vk-amp-headerbar {
  padding: 1rem;
}

.vk-amp-article {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.vk-amp-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.vk-amp-subtitle {
  display: block;
}

.vk-amp-primary-image {
  margin: 2rem 0;
}

.vk-amp-has-text-centered {
  text-align: center;
}

.vk-amp-title.is-3 {
  padding: 1.5rem;
}

.vk-amp-title.is-5 {
  font-size: 1.25rem;
}

.vk-amp-title.is-6 {
  font-size: 1rem;
}

.vk-amp-column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem 0;

  ul {
    margin: 1rem;
  }
}

.vk-amp-buttons {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.vk-amp-button {
  padding: 10px 20px;
  margin-right: 0.5rem;
  line-height: 1.5em;
  display: inline-flex;
  border-radius: 4px;
}

.vk-amp-mb-2 {
  margin-bottom: 0.5rem;
}

.vk-amp-mr-2 {
  margin-right: 0.5rem;
}

.vk-amp-mr-5 {
  margin-right: 1.5rem;
}

.vk-amp-footer {
  padding: 1.5rem;
}

.vk-is-flex {
  display: flex;
}

/* BREADCRUMB */

/* Style the list */
ol.vk-amp-breadcrumb {
  padding: 1rem 1rem 0 1rem;
  list-style: none;
}

/* Display list items side by side */
ol.vk-amp-breadcrumb li {
  display: inline;
  font-size: 100%;
}

/* Add a slash symbol (/) before/behind each list item */
ol.vk-amp-breadcrumb li+li:before {
  padding: 0 12px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ol.vk-amp-breadcrumb li a {
  color: $link-color;
  text-decoration: none;
}

ol.vk-amp-breadcrumb li.is-active a {
  color: $body-color;
  cursor: default;
  pointer-events: none;
}

/* Add a color on mouse-over */
ol.vk-amp-breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* END BREADCRUMB */

.vk-twitter {
  background-image: url("/images/icons/twitter.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.vk-facebook {
  background-image: url("/images/icons/facebook-f.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.vk-instagram {
  background-image: url("/images/icons/instagram.svg");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

/* Content */

.vk-amp-article {
  h2 {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
  }

  h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    margin: $gap 0;
  }

  p:first-of-type {
    margin-top: 0;
  }

  ol {
    margin: 1rem;
    li {
      list-style-type: decimal;
      margin: 1rem;
    }
  }

  ul {
    margin: 1rem;
    li {
      list-style-type: disc;
      margin: 1rem;
    }
  }
}
