html {
  height: 100%;
  background: #121212;
}

body {
  position: fixed;
  font-family: sans-serif;
  color: #B0BEC5; /* Light blue-grey text */
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  user-select: none;
}

.notes {
  margin: auto;
  width: 400px;
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}

.note {
  font-size: 90px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-right: 30px;
  padding-left: 10px;
}

.note.active {
  color: #F48FB1; /* Active note color to pink */
}

.notes-list {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  white-space: nowrap;
  -ms-overflow-style: none;
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #121212,
    rgba(0, 0, 0, 0)
  );
}

.notes-list::-webkit-scrollbar {
  display: none;
}

.note {
  -webkit-tap-highlight-color: transparent;
}

.note span {
  position: absolute;
  right: 0.25em;
  font-size: 40%;
  font-weight: normal;
  color: #78909C; /* Dark blue-grey for note span */
}

.note-sharp {
  top: 0.3em;
}

.note-octave {
  bottom: 0.3em;
}

.frequency {
  font-size: 32px;
}

.frequency span {
  font-size: 50%;
  margin-left: 0.25em;
}

.meter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 60%;
  width: 400px;
  height: 30%;
  margin: 0 auto 5vh auto;
}

.meter-pointer {
  width: 2px;
  height: 100%;
  background: #B0BEC5; /* Light blue-grey */
  transform: rotate(45deg);
  transform-origin: bottom;
  transition: transform 0.5s;
  position: absolute;
  right: 50%;
}

.meter-dot {
  width: 10px;
  height: 10px;
  background: #B0BEC5; /* Light blue-grey */
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  right: 50%;
  margin-right: -4px;
}

.meter-scale {
  width: 1px;
  height: 100%;
  transform-origin: bottom;
  transition: transform 0.2s;
  box-sizing: border-box;
  border-top: 10px solid #B0BEC5; /* Light blue-grey */
  position: absolute;
  right: 50%;
}

.meter-scale-strong {
  width: 2px;
  border-top-width: 20px;
}

.meter-scale-tuned {
  width: 16px;
  height: 10%;  /* adjust this to change the size of the tuned region */
  background: #4CAF50;  /* use the Material theme green */
  position: absolute;
  bottom: 92%;  /* adjust this value to position the tuned region at the top */
  right: 50%;  /* center the tuned region horizontally */
  margin-right: -7px;  /* centering adjustment */
  box-shadow: 0 0 10px #4CAF50, 0 0 10px #4CAF50;  /* glow effect */
  transform: rotate(0deg);  /* set rotation to 0 to place it at the top */
}

.frequency-bars {
  position: fixed;
  bottom: 0;
}

.frequency-line {
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  .meter {
    width: 100%;
  }

  .notes {
    width: 100%;
  }
}

.swal-button {
  background: #B0BEC5; /* Light blue-grey */
}

.a4 {
  position: absolute;
  top: 1.5em;
  left: 16px;
}

.a4 span {
  color: #F48FB1; /* Pink */
}

.screen {
  position: absolute;
  top: 1.5em;
  right: 16px;
}

.auto {
  position: absolute;
  top: 3em;
  right: 16px;
}

.note.in-tune {
  color: #4CAF50; /* Material Green for in-tune notes */
}

.about {
  bottom: 60%;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  color: #B0BEC5;  /* Light blue-grey text */
  text-align: justify;
}

.about h2 {
  color: #F48FB1;  /* Pink */
  text-align: center;
}

.about ul {
  padding-left: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #121212;  /* dark background */
  color: #B0BEC5;  /* Light blue-grey text */
  text-align: center;
  padding: 10px 0; /* This gives some space above and below the text */
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* to wrap items into next row if space is not enough */
}

footer a {
  color: #B0BEC5; /* Light blue-grey text */
  text-decoration: none; /* remove underline */
  border: 2px solid #B0BEC5; /* border color */
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

footer a:hover {
  background-color: #B0BEC5; /* Light blue-grey background when hovering */
  color: #121212; /* Dark text color when hovering */
}

.higher-canvas {
  position: relative;
  bottom: 10%;  /* Adjust as needed */
}

.btn {
  font-size: 1em;
  display: inline-block;
  padding: 5px 5px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.social-profiles a {
  color: #007bff;
  font-size: 1em;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.social-profiles a:hover {
  color: #0056b3;
}


